.PostLink {
  @include meFlex("top left", column);
  border-radius: msSettings(radius);
  box-shadow: 0 inRem(5) inRem(10) 0 meColor(dark, 0.3);
  font-family: msTypeface(title);
  transform: translateY(0) scale(1);
  overflow: hidden;
  @include meMotion((box-shadow, transform));
  @include meLinkHateCustom {
    box-shadow: 0 inRem(5) inRem(20) 0 meColor(dark, 0.66);
    transform: translateY(inRem(-5)) scale(1.025);
  }
  .Thumbnail, .Content {
    @include meWidthMax(100%);
  }
  .Thumbnail {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:after {
      content: "";
      position: relative;
      display: block;
      padding-bottom: 44%;
    }
  }
  .Content {
    display: block;
    @include meWidthMax(calc(100% - #{inRem(16 * 2)}));
    padding: inRem(12) inRem(16);
    @include meBreakpoint(md) {
      @include meWidthMax(calc(100% - #{inRem(24 * 2)}));
      padding: inRem(26) inRem(24);
    }
    @include meHeaders {
      @include meReset;
    }
    .Category {
      margin-bottom: inRem(8);
      color: meColor(textLight);
      @include meTypeface(12, 500);
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .Title {
      margin-bottom: inRem(12);
      color: meColor(dark);
      @include meTypeface(22, 400);
      font-style: italic;
    }
    .Excerpt {
      margin-bottom: inRem(12);
      @include meTypeface(16, 300);
      font-family: msTypeface(default);
    }
    .Author {
      @include meFlex("center left");
      .Photo {
        display: block;
        width: inRem(24);
        height: inRem(24);
        border-radius: 1000rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: inRem(16);
      }
      .Name {
        @include meTypeface(14, 500);
        color: meColor(dark);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
  &:nth-child(9n - 8) {
    @include meBreakpoint(xl) {
      @include meFlex;
      .Thumbnail {
        @include meWidthMax(calc(#{inGrid(8)} + #{inRem(16 * 2)}));
      }
      .Content {
        @include meWidthMax(calc(#{inGrid(4)} - #{inRem(16 * 2)}));
      }
    }
    //@include meBreakpoint(md) {
    //  .Thumbnail {
    //    @include meWidthMax(calc(#{inGrid(8)} + #{inRem(24)}));
    //  }
    //  .Content {
    //    @include meWidthMax(calc(#{inGrid(4)} - #{inRem(24)}));
    //  }
    //}
  }
}