@import "../react";
@import "../utilities/container";

.post {
  @include meContainer;
  max-width: 880px !important;
  .content {
    display: block;
    margin-bottom: 2rem;
    line-height: 1.3;
    @include meTinymce;
  }
}