$ms-colors:(
        primary: #7F7FD5,
        secondary: #86A8E7,
        third: #91EAE4,
        main: #eeeeee,
        text: #96989e,
        textLight: #b0b3bd,
        dark: #202022,
        light: #fafafa,
);


$ms-colors-social: (
        facebook: #3b5998,
        instagram: #517fa4,
        linkedin: #0077b5,
        medium: #00ab6b,
        pinterest: #bd081c,
        tumblr: #35465c,
        twitter: #55acee,
        vimeo: #1ab7ae,
        youtube: #b31217,
);