@import "../react";

.Header {
  //position: fixed;
  //top: 0;
  //left: 0;
  @include meFlex(center, left);
  @include meWidthMax(100%);
  @include mePY(inRem(16));
  background-color: meColor(light);
  .container {
    @include meFlex(center, left);
  }
  @import "../utilities/container";
  .HeaderLogo {
    margin-right: (inRem(10));
    color: meColor(light);
    background-image: linear-gradient(215deg, meColor(primary) 0%, meColor(secondary) 50%, meColor(third) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: msTypeface(title);
    @include meTypeface(24, 700);
  }
  .HeaderSearch {
    @include meFlex;
    @include meMX(inRem(30));
    .SearchInput, .SearchSubmit {
      @include meResetButton;
      padding: inRem(6) inRem(12);

      color: meColor(text);
      background-color: meColor(main);
      border: darken(meColor(main), 5%) 1px solid;
    }
    .SearchInput {
      border-radius: inRem(5) 0 0 inRem(5);
    }
    .SearchSubmit {
      border-radius: 0 inRem(5) inRem(5) 0;
      border-left: none;
      cursor: pointer;
    }
  }
}