@import "../react";

.welcome {
  @include meFlex;
  @include meWidthMax(100%);
  min-height: 30vh;
  .article {
    text-align: center;
    letter-spacing: 0.5px;
    .pageTitle {
      @include meTypeface(32, 700);
      font-family: msTypeface(header);
      margin-bottom: 0.75rem;
      i {
        font-weight: 600;
        font-style: italic;
      }
    }
    .pageDescription {
      line-height: 1.2;
    }
  }
}