@import "../react";

.welcome {
  @include meFlex;
  @include meWidthMax(100%);
  height: 30vh;
  .article {
    text-align: center;
    letter-spacing: 0.5px;
    h2 {
      @include meTypeface(32, 700);
      margin-bottom: 0.75rem;
      i {
        font-weight: 600;
        font-style: italic;
      }
    }
    p {
      line-height: 1.2;
    }
  }
}