@import "../react";

body {
  padding: 0;
  margin: 0;

  color: meColor(text);
  background-color: meColor(light);

  font-family: msTypeface(default);
  font-size: 16px;
}

a {
  @include meLink(meColor(text), none, meColor(dark), none);
  @include meMotion(color);
}


.LayoutMain {
  display: block;
  @include meWidthMax(100%);
  overflow-x: hidden;

  .mainApp {
    @include meWidthMax(95%);
    @include meMX(auto);
    @include meBreakpoint(xl) {
      @include meWidthMax(1140px);
    }
  }
}