/*!
  Project name: meSass-alpha
  Author: Amadeusz Blanik (https://blanik.me)

  &copy; 2019 May
*/

@warn "meSass() :: Start…";

@import "base/index";
@import "vendors/index";

@import "config/index";
@import "function/index";
@import "mixins/index";

@import "utilities/index";
@import "layouts/index";
@import "components/index";
@import "pages/index";

@include reset();

body {

  padding: 0;
  margin: 0;

  color: meColor(text);
  background-color: meColor(light);

  font-family: msTypeface(default);
  font-size: 16px;
}

a {
  @include meLink(meColor(text), underline, meColor(primary), underline);
}

@warn "meSass() :: Successfully compiled…";